  <footer class="footer">
    <p>
      <span><i class="icon-leaf"></i> Blogged by <a href="http://twitter.com/dannvix">dannvix</a></span>
      <span><i class="icon-legal"></i> My posts are licensed under <a href="http://creativecommons.org/licenses/by-nc/3.0/">CC-BY-NC 3.0</a> by default</span>
      <span><i class="icon-cloud"></i> Hosted on <a href="http://github.com/dannvix/its-compiling">Github</a></span>
    </p>
  </footer>
</div>
</body>
</html>
