<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <title>it's compiling</title>
  <link rel="stylesheet" type="text/css" href="/stylesheets/screen.css" />
  <script type="text/javascript" src="/javascripts/jquery-1.8.3.min.js" defer></script>
  <script type="text/javascript" src="/javascripts/jquery.relative-date.js" defer></script>
  <script type="text/javascript" src="/javascripts/app.js" defer></script>
</head>
<body>
<div class="wrapper">
  <header class="header">
    <div class="logo">
      <h1><a href="/" title="it's compiling">it's compiling</a></h1>
      <h2>&#8220;Hey, I'm n0t slack1ng off. It's c0mp1l1ng!&#8221;</h2>
    </div>
    <nav class="nav">
      <ul class="inline-list">
        <li><a class="archives" href="/archives.html" title="Archives"><i class="icon-calendar"></i><span>archives</span></a></li>
        <li><a class="feed" href="/atom.xml" title="Posts Feed"><i class="icon-rss"></i><span>feeds</span></a></li>
        <li><a class="facebook" href="http://facebook.com/5ad59707473276e74191bd7d4929b95b" title="Facebook"><i class="icon-facebook-sign"></i><span>Facebook</span></a></li>
        <li><a class="twitter" href="http://twitter.com" title="Twitter"><i class="icon-twitter-sign"></i><span>Twitter</span></a></li>
        <li><a class="google-plus" href="https://plus.google.com/100564190401573055669" title="Google Plus"><i class="icon-google-plus-sign"></i><span>Google+</span></a></li>
        <li><a class="github" href="http://github.com/dannvix" title="Github"><i class="icon-github-sign"></i><span>Github</span></a></li>
      </ul>
    </nav>
    <div class="search">
      <form action="http://google.com/search" method="get">
          <input class="search-box" type="text" name="q" results="0" placeholder="Google Search" />
          <input type="hidden" name="q" value="site:blog.owo.tw" />
      </form>
    </div>
  </header>